name: Upload Python Package to PyPI when a Release is Created

on:
  release:
    types: [created]

jobs:
  pypi-publish:
    name: Publish release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/agentics-py
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - name: Install uv (curl method)
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Cache uv virtualenv
        uses: actions/cache@v4
        with:
          path: .venv
          key: uv-venv-${{ runner.os }}-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            uv-venv-${{ runner.os }}-

      - name: Create virtualenv and install dependencies
        run: |
          uv sync

      - name: Build package
        run: uvx --with uv-dynamic-versioning hatchling build -d ./dist/

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
